        body {
            font-family: 'Poppins', sans-serif;
            background: #f8f9fa;
        }

        .wrapper {
            display: flex;
        }

        #sidebar {
            min-width: 250px;
            max-width: 250px;
            background: #343a40;
            color: #ffffff;
            transition: all 0.3s;
        }

        #sidebar.active {
            margin-left: -250px;
        }

        #sidebar .sidebar-header {
            padding: 20px;
            background: #343a40;
            text-align: center;
        }

        #sidebar .sidebar-header img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin-bottom: 10px;
        }

        #sidebar .sidebar-header h3 {
            margin: 0;
            font-size: 13px;
        }

        #sidebar ul.components {
            padding: 20px 0;
        }

        #sidebar ul p {
            color: #fff;
            padding: 10px;
        }

        #sidebar ul li a {
            padding: 15px;
            font-size: 13px;
            display: block;
            color: #d1d8e0;
            transition: all 0.3s;
        }

        #sidebar ul li a:hover {
            background: #454d55;
            color: #ffffff;
        }

        #sidebar ul li.active > a,
        #sidebar ul li a[aria-expanded="true"] {
            color: #ffffff;
            background: #6c757d;
        }

        #content {
            width: 100%;
            padding: 20px;
            min-height: 100vh;
            transition: all 0.3s;
        }

        .navbar {
            padding: 15px 10px;
            background: #343a40;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .navbar-light .navbar-toggler-icon {
            background-color: #fff;
        }

        .navbar-nav .nav-item .nav-link {
            color: #fff;
        }

        .navbar-nav .nav-item .nav-link:hover {
            color: #d1d8e0;
        }

        .navbar-toggler {
            outline: none;
        }

        .menu-icon {
            font-size: 15px;
            color: #343a40;
            cursor: pointer;
        }

        .list-unstyled li{
            cursor: pointer;
        }