{% extends 'dashboard.html' %}
{% load static %}

{% block title %} Loan {% endblock %}
{% block pagetitle %} Loan {% endblock %} 

{% block content %}

<link rel="stylesheet" href="{% static 'css/loan.css' %}">

<style>
  .form-control[readonly] {
    background-color: #343a40;
    color: #FFF ;
    opacity: 1;
}
</style>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8"> <!-- Increased form width -->
      <div class="form-container">
        <form id="myForm">
          <div id="alertMessage"></div>
          <!-- First row -->
          <div class="form-group row align-items-center">
            <label for="input5" class="col-sm-3 col-form-label">Financial Year</label> 
            <div class="col-sm-6">
              <select class="form-control form-control-sm" id="FYID">
              </select>
          </div>
          </div>
          <div class="form-group row align-items-center">
            <label for="input1" class="col-sm-2 col-form-label">Loan ID</label> 
            <div class="col-sm-4">
              <input type="number" class="form-control" id="Loan_ID" placeholder="Loan ID" readonly>
            </div>
            <label for="input1" class="col-sm-2 col-form-label">Loan Date<span class="text-danger"> *</span></label> 
            <div class="col-sm-4">
              <input type="date" class="form-control" id="Loan_Date" placeholder="Loan Date">
            </div>
          </div>
          <div class="form-group row align-items-center">
            <label for="input5" class="col-sm-2 col-form-label">Employee<span class="text-danger"> *</span></label> 
            <div class="col-sm-10">
                <select class="form-control form-control-sm" id="Emp_ID">
                </select>
            </div>
          </div>
          <div class="form-group row align-items-center">
            <label for="input5" class="col-sm-2 col-form-label">Loan Type<span class="text-danger"> *</span></label> 
            <div class="col-sm-4">
              <select class="form-control form-control-sm" id="Loan_Type">
                <option value="Loan">Loan</option>
                <option value="Advance Salary">Advance Salary</option>
              </select>
            </div>
            <label for="input6" class="col-sm-2 col-form-label">OP Deducted<span class="text-danger"> *</span></label> 
            <div class="col-sm-4">
              <input type="number" class="form-control" id="Previous_Ded_Amount" placeholder="Previous Ded Amount">
            </div>
          </div>
          <div class="form-group row align-items-center">
            <label for="input5" class="col-sm-2 col-form-label">Amount<span class="text-danger"> *</span></label> 
            <div class="col-sm-4">
              <input type="number" class="form-control" id="Loan_Amount" placeholder="Loan_Amount">
            </div>
            <label for="input6" class="col-sm-2 col-form-label">Month<span class="text-danger"> *</span></label> 
            <div class="col-sm-4">
              <input type="number" class="form-control" id="Loan_Ded_NoofMnth" placeholder="Loan Ded NoofMnth">
            </div>
          </div>
          <div class="form-group row align-items-center">
            <label for="input5" class="col-sm-2 col-form-label">Deducted<span class="text-danger"> *</span></label> 
            <div class="col-sm-4">
              <input type="number" class="form-control" id="Deducted_Amt" placeholder="Deducted Amount">
            </div>
            <label for="input6" class="col-sm-2 col-form-label">Monthly Deducted<span class="text-danger"> *</span></label> 
            <div class="col-sm-4">
              <input type="number" class="form-control" id="Loan_Ded_Amt" placeholder="Loan Ded Amount">
            </div>
          </div>
          <div class="form-group row align-items-center">
            <label for="input5" class="col-sm-2 col-form-label">Loan Balance</label> 
            <div class="col-sm-4">
              <input type="number" class="form-control" id="Loan_Bal_Amt" placeholder="Loan Balance Amount">
            </div>
            <label for="input6" class="col-sm-2 col-form-label">Loan Status<span class="text-danger"> *</span></label> 
            <div class="col-sm-4">
              <select class="form-control form-control-sm" id="loanStatus">
              <option value="1">Active </option>
              <option value="0">In Active</option>
            </select>
            </div>
          </div>
          <div class="form-group row align-items-center">
            <label for="input5" class="col-sm-2 col-form-label">Remarks</label> 
            <div class="col-sm-10">
              <input type="text" class="form-control" id="Remarks" placeholder="Remarks">
            </div>
          </div>
          <div class="text-center">
            <button type="button" id="insertFormData" class="btn btn-dark mr-2">Create</button>
            <button type="button" id="updateFormData" class="btn btn-dark mr-2 d-none">Update</button>
            <button type="button" id="CancelFormData" class="btn btn-dark">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>  

<div class="container mt-3">
  <table id="GridID" class="table table-dark table-hover table-sm table-bordered" style="font-size: 0.8rem;">
      <thead class="" style="background-color: black;">
        <tr>
          <th style="width: 6%;">S. No</th>
          <th style="width: 10%;">Loan ID</th>
          <th style="width: 10%;">Loan Type</th>
          <th style="width: 25%;">Employee Name</th>
          <th style="width: 10%;">Loan Amount</th>
          <th style="width: 10%;">Loan Status</th>
          <th style="width: 7%;">Action</th>
        </tr>
      </thead>
      <tbody id="InserRowID">
      </tbody>
    </table>
  </div>
  
<script src="{% static 'js/loan.js' %}"></script>


{% endblock %}
