{% extends 'dashboard.html' %}
{% load static %}

{% block title %} Monthly Payroll Sheet {% endblock %}
{% block pagetitle %} Monthly Payroll Sheet {% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/payrollsheet.css' %}">

<style>
    .form-control[readonly] {
        background-color: #343a40;
        color: #FFF;
        opacity: 1;
    }

    .SearchIconCLass {
        padding: 2px;
        color: white;
        border: solid white 3px;
    }

    /* Ensure the modal content is not wider than the screen */
    .modal-dialog {
        max-width: 50%;
    }

    /* Allow table cells to wrap content */
    .table td,
    .table th {
        white-space: normal;
        word-wrap: break-word;
    }

    /* Prevent table cells from collapsing */
    .table td,
    .table th {
        border-collapse: separate;
    }

    /* Set the width of the table to auto */
    .table-auto {
        width: auto;
    }

    /* Set the table-layout property to auto to adjust column widths based on content */
    .table {
        table-layout: auto;
    }

    /* Ensure column names are shown in one line */
    .table th {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    tbody#InserRowID1 input {
        width: -webkit-fill-available;
    }

    tbody#InserRowID2 input {
        width: -webkit-fill-available;
    }




    .table-container {
            margin: 20px;
        }
        .table thead th {
            background-color: #343a40;
            color: white;
            text-align: center;
        }
        .table td, .table th {
            vertical-align: middle;
        }
        .table-responsive {
            margin-bottom: 20px;
        }
</style>

<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="form-container">
          <form id="myForm">
            <div id="alertMessage"></div>
            <div class="form-group row align-items-center">
              <label for="name" class="col-sm-3 col-form-label col-form-label-sm">Period</label>
              <div class="col-sm-9">
                <select class="form-control form-control-sm" id="Payroll_ID"></select>
              </div>
            </div>
            <div class="text-center">
              <button type="button" id="monthly_paysheet_btn" class="btn btn-success mr-2">Find Payroll Sheet</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="container table-container">
    <div class="text-center">
      <h1 class="my-4">Monthly Pay Sheet</h1>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
                <th>Payroll ID</th>
                <th>Employee Up ID</th>
                <th>Employee ID</th>
                <th>Employee Name</th>
                <th>Gender</th>
                <th>Religion</th>
                <th>CNIC Number</th>
                <th>Marital Status</th>
                <th>Joining Date</th>
                <th>Employee Status</th>
                <th>HR Employee ID</th>
                <th>Company ID</th>
                <th>Company Name</th>
                <th>Region ID</th>
                <th>Region Description</th>
                <th>City ID</th>
                <th>City Description</th>
                <th>Department ID</th>
                <th>Department Description</th>
                <th>Designation ID</th>
                <th>Designation Description</th>
                <th>Grade ID</th>
                <th>Grade Description</th>
                <th>Period ID</th>
                <th>Financial Year ID</th>
                <th>Financial Year</th>
                <th>Month ID</th>
                <th>Month Number</th>
                <th>Month Name</th>
                <th>Month Short Name</th>
                <th>Period Status</th>
                <th>Financial Year Status</th>
                <th>Year</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Financial Year Start Date</th>
                <th>Financial Year End Date</th>
                <th>Monthly Days</th>
                <th>Working Days</th>
                <th>Absent Days</th>
                <th>Junction Days</th>
                <th>Basic Salary</th>
                <th>Medical Allowance</th>
                <th>Conveyance Fixed Allowance</th>
                <th>House Rent Allowance</th>
                <th>Utilities Allowance</th>
                <th>Communication</th>
                <th>Conveyance Liters Allowance</th>
                <th>Total Gross Salary</th>
                <th>Meal Allowance</th>
                <th>Bike Maintenance</th>
                <th>Overtime Allowance</th>
                <th>Arrears</th>
                <th>Incentives Tech</th>
                <th>Device Reimbursement</th>
                <th>Incentives KPI</th>
                <th>Other Allowance</th>
                <th>Total Allowances</th>
                <th>Total Net Gross Allowances</th>
                <th>Loan</th>
                <th>Advance Salary</th>
                <th>EOBI</th>
                <th>Income Tax</th>
                <th>Absent Days</th>
                <th>Device Deduction</th>
                <th>Over Utilization Mobile</th>
                <th>Vehicle Fuel Deduction</th>
                <th>Pandemic Deduction</th>
                <th>Late Days</th>
                <th>Other Deduction</th>
                <th>Mobile Installment</th>
                <th>Food Panda</th>
                <th>Total Deductions</th>
                <th>Total AC to WD</th>
                <th>Total Net Salary</th>
                <th>Transfer Type</th>
                <th>Account Number</th>
                <th>Bank Name</th>
            </tr>
        </thead> 
          <tbody id="table-body">
                <!-- Data will be inserted here by JavaScript -->
            </tbody>
        </table>
    </div>
</div>

  

<script src="{% static 'js/payrollsheet.js' %}"></script>


{% endblock %}