{% extends 'dashboard.html' %}
{% load static %}

{% block title %} Monthly Salary Update {% endblock %}
{% block pagetitle %} Monthly Salary Update {% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/salaryprocess.css' %}">



<style>
    .form-control[readonly] {
        background-color: #343a40;
        color: #FFF;
        opacity: 1;
    }

    .SearchIconCLass {
        padding: 2px;
        color: white;
        border: solid white 3px;
    }

    .modal-dialog {
        max-width: 50%;
    }

    .table td,
    .table th {
        white-space: normal;
        word-wrap: break-word;
        border-collapse: separate;
    }

    .table-auto {
        width: auto;
    }

    .table {
        table-layout: auto;
    }

    .table th {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    tbody#InserRowID1 input,
    tbody#InserRowID2 input {
        width: -webkit-fill-available;
    }

    .text-danger {
        color: red;
        font-size: 15px;
    }

    .dropdown_disable {
        pointer-events: none;
        background-color: #f0f0f0;
        color: #888;
        cursor: not-allowed;
    }

    /* Adjust form elements for compactness */
    .form-group {
        margin-bottom: 8px;
    }

    .form-control, .btn {
        padding: 4px 8px;
        font-size: 0.875rem;
    }

    .form-container {
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }

    label {
        font-size: 0.875rem;
        margin-bottom: 0;
    }

    .col-form-label-sm {
        padding-right: 0;
        padding-left: 0;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8"> <!-- Reduced width to make form smaller -->
            <div class="form-container">
                <form id="myForm">
                    <div id="alertMessage"></div>
                    <!-- First row -->
                    <div class="form-group row">
                        <label for="Payroll_ID" class="col-sm-3 col-form-label col-form-label-sm">Period</label>
                        <div class="col-sm-5">
                            <select class="form-control form-control-sm" id="Search_Payroll_ID"></select>
                        </div>
                        <div class="col-sm-4">
                            <input type="number" class="form-control form-control-sm" id="Emp_Up_ID" readonly placeholder="Update ID"/>
                        </div>
                    </div>
                    
                    <!-- Second row -->
                    <div class="form-group row">
                        <label for="input1" class="col-sm-3 col-form-label">Emp ID</label>
                        <div class="col-sm-5">
                            <input type="number" class="form-control form-control-sm" id="Emp_ID_" placeholder="Salary Update ID" readonly>
                        </div>
                        <div class="col-sm-4 d-flex align-items-center">
                            <i class="fa fa-search SearchIconCLass" id="empupdateGridIconId" data-toggle="modal" data-target="#orangeModalSubscription4" style="cursor: pointer;"></i>
                        </div>
                    </div>

                    <!-- Remaining rows -->
                    <div class="form-group row">
                        <label for="Emp_Up_Date" class="col-sm-3 col-form-label">Update Date<span class="text-danger"> *</span></label>
                        <div class="col-sm-5">
                            <input type="date" class="form-control form-control-sm" id="Emp_Up_Date" placeholder="Salary Date" readonly>
                        </div>
                        <div class="col-sm-4">
                            <input type="number" class="form-control form-control-sm" id="HR_Emp_ID" placeholder="HR Code" readonly />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="input5" class="col-sm-3 col-form-label">Employee<span class="text-danger"> *</span></label>
                        <div class="col-sm-9">
                            <select class="form-control form-control-sm dropdown_disable" id="Emp_ID" disabled></select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="DSG_ID" class="col-sm-3 col-form-label">Designation<span class="text-danger"> *</span></label>
                        <div class="col-sm-4">
                            <select class="form-control form-control-sm dropdown_disable" id="DSG_ID" disabled></select>
                        </div>
                        <div class="col-sm-5">
                            <select class="form-control form-control-sm dropdown_disable" id="CO_ID" disabled></select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="Dept_ID" class="col-sm-3 col-form-label">Department<span class="text-danger"> *</span></label>
                        <div class="col-sm-9">
                            <select class="form-control form-control-sm dropdown_disable" id="Dept_ID" disabled></select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="Grade_ID" class="col-sm-3 col-form-label">Grade<span class="text-danger"> *</span></label>
                        <div class="col-sm-4">
                            <select class="form-control form-control-sm dropdown_disable" id="Grade_ID" disabled></select>
                        </div>
                        <div class="col-sm-5">
                            <select class="form-control form-control-sm dropdown_disable" id="Emp_Category" disabled></select>
                        </div>
                    </div>

                    <!-- Other fields and buttons as required -->
                    <!-- Continue similar pattern for other fields to maintain compact layout -->
                    
                    <div class="text-center">
                        <button type="button" id="updateFormData" class="btn btn-dark mr-2 d-none">Update</button>
                        <button type="button" id="CancelFormData" class="btn btn-dark">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<section>


    <div class="mt-3">
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <span class="form-label">Select Element: </span>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <!-- <select class="form-control" name="" id="Element_Descr"></select> -->
                    <input type="text" class="form-control" placeholder="Element" id="Element_Descr" readonly />
                </div>
            </div>
            <!-- <div class="col-sm-1">
                <div class="form-group">
                    <button class="btn btn-priamry form-control" id="addElement">Add Element</button>
                </div>
            </div> -->

            <div class="col-sm-1">
                <div class="form-group">
                    <i class="fa fa-search SearchIconCLass" id="elementGridIconId" data-toggle="modal"
                        data-target="#orangeModalSubscription3" style="color: black; border: solid black 3px;"></i>
                </div>
            </div>

        </div>
    </div>

</section>
<div class="row">

    <div class="col-sm-6">

        <div class="container mt-3">
            <table id="bmGridID1" class="table table-dark table-hover table-sm table-bordered"
                style="font-size: 0.8rem;">
                <thead style="background-color: black;">
                    <tr>
                        <!-- <th style="width: 6%;">S. No</th> -->
                        <th style="width: 25%;">Allowance</th>
                        <th style="width: 15%;">Category</th>
                        <th style="width: 20%; text-align: right;">Amount</th>
                        <!-- <th style="width: 7%;">Action</th> -->
                    </tr>
                </thead>
                <tbody id="InserRowID1" class="ElementGridClass">
                </tbody>
            </table>
            <h5 id="totalAllowance_fixed_gross" style="text-align: end;">Total Allowance Fixed Gross: 0</h5>
            <h5 id="totalAllowance_fixed_additional" style="text-align: end;">Total Allowance Fixed Additional: 0</h5>
            <h5 id="totalAllowance" style="text-align: end;">Total Allowance: 0</h5>
        </div>

    </div>
    <div class="col-sm-6">

        <div class="container mt-3">
            <table id="bmGridID2" class="table table-dark table-hover table-sm table-bordered"
                style="font-size: 0.8rem;">
                <thead style="background-color: black;">
                    <tr>
                        <!-- <th style="width: 6%;">S. No</th> -->
                        <th style="width: 25%;">Deduction</th>
                        <th style="width: 15%;">Category</th>
                        <th style="width: 20%; text-align: right;">Amount</th>
                        <!-- <th style="width: 7%;">Action</th> -->
                    </tr>
                </thead>
                <tbody id="InserRowID2" class="ElementGridClass">
                </tbody>
            </table>
            <h5 id="totalDeduction" style="text-align: end;">Total Deduction: 0</h5>
        </div>

    </div>
</div>

<section>
    <!--Boostrap Model Start-->
    <div class="modal fade" id="orangeModalSubscription3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        -moz-text-size-adjust aria-hidden="true">
        <div class="modal-dialog modal-notify modal-warning" role="document">
            <!--Content-->
            <div class="modal-content" style="width: fit-content">
                <!--Header-->
                <div class="modal-header text-center">
                    <h4 class="modal-title white-text w-100 font-weight-bold py-2" id="modelTitleId"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">&times;</span>
                    </button>
                </div>

                <!--Body-->
                <div class="modal-body">
                    <section id="Ac_ModelFormGridId">

                        <table class="table" id="GridID4">
                            <thead class="thead-dark">
                                <tr id="unique" style="font-size: 10px">
                                    <th class="text-center" scope="col">Element ID</th>
                                    <th class="text-left" scope="col" id="popupGridCodeComNameId">Element Name</th>
                                    <th class="text-left" scope="col" id="popupGridCodeComNameId">Element Type</th>
                                    <th class="text-left" scope="col" id="popupGridCodeComNameId">Element Category</th>
                                </tr>
                            </thead>
                            <tbody id="InserRowID4" style="font-size: 10px">
                            </tbody>
                        </table>

                    </section>
                </div>

            </div>
            <!--/.Content-->
        </div>
    </div>
    <!--Boostrap Model End-->
</section>

<section>
    <!-- Bootstrap Modal Start -->
    <div class="modal fade" id="orangeModalSubscription4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-notify modal-warning" role="document">
            <!-- Content -->
            <div class="modal-content">
                <!-- Header -->
                <div class="modal-header text-center">
                    <h4 class="modal-title font-weight-bold py-2" id="modelTitleId"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Body -->
                <div class="modal-body">
                    <section id="Ac_ModelFormGridId">
                        <div class="table-responsive">
                            <table id="GridID5" class="table table-hover table-sm table-bordered table-auto">
                                <thead class="thead-dark">
                                    <tr style="font-size: 10px">
                                        <th>Emp Update ID</th>
                                        <th>Employee ID</th>
                                        <th>HR Employee ID</th>
                                        <th>Employee Name</th>
                                        <th>Designation</th>
                                        <th>Department</th>
                                        <th>Update Date</th>
                                    </tr>
                                </thead>
                                <tbody id="InserRowID5" style="font-size: 10px">
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </div>
            <!-- /.Content -->
        </div>
    </div>
    <!-- Bootstrap Modal End -->
</section>



<script src="{% static 'js/monthlysalaryupdate.js' %}"></script>


{% endblock %}