{% extends 'dashboard.html' %}
{% load static %}

{% block title %} Salary Process {% endblock %}
{% block pagetitle %} Salary Process {% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/salaryprocess.css' %}">

<style>
    .form-control[readonly] {
        background-color: #343a40;
        color: #FFF;
        opacity: 1;
    }

    .SearchIconCLass {
        padding: 2px;
        color: white;
        border: solid white 3px;
    }

    /* Ensure the modal content is not wider than the screen */
    .modal-dialog {
        max-width: 50%;
    }

    /* Allow table cells to wrap content */
    .table td,
    .table th {
        white-space: normal;
        word-wrap: break-word;
    }

    /* Prevent table cells from collapsing */
    .table td,
    .table th {
        border-collapse: separate;
    }

    /* Set the width of the table to auto */
    .table-auto {
        width: auto;
    }

    /* Set the table-layout property to auto to adjust column widths based on content */
    .table {
        table-layout: auto;
    }

    /* Ensure column names are shown in one line */
    .table th {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    tbody#InserRowID1 input {
        width: -webkit-fill-available;
    }

    tbody#InserRowID2 input {
        width: -webkit-fill-available;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="form-container">
          <form id="myForm">
            <div id="alertMessage"></div>
            <div class="form-group row align-items-center">
              <label for="name" class="col-sm-3 col-form-label col-form-label-sm">Period</label>
              <div class="col-sm-9">
                <select class="form-control form-control-sm" id="Payroll_ID"></select>
              </div>
            </div>
            <div class="form-group row align-items-center">
              <label for="name" class="col-sm-3 col-form-label col-form-label-sm">Fuel Rate<span class="text-danger"> *</span></label>
              <div class="col-sm-9">
                <input type="number" class="form-control form-control-sm" style="text-align: right;" id="fuel_rate" />
              </div>
            </div>
            <div class="text-center">
              <button type="button" id="monthly_process_btn" class="btn btn-success mr-2">Run Process</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  

<script src="{% static 'js/salaryprocess.js' %}"></script>


{% endblock %}