{% extends 'dashboard.html' %}
{% load static %}

{% block title %} Employee Profile {% endblock %}
{% block pagetitle %} Employee Profile {% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/employee.css' %}">

<style>
  .form-heading {
    color: white;
    font-family: system-ui;
  }

  .form-container {
    max-width: 100%;
    /* Adjust the value as needed */
    margin: 0 auto;
    margin-top: 3%;
  }


  .uploadButton {
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border: 5px solid #fff;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
  }

  .uploadButton input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 100px;
    opacity: 0;
    cursor: pointer;
  }

  .uploadButton img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /*margin-top: 10px;*/
  }

  .uploadButton span {
    display: block;
    color: #3498db;
  }

  .form-control[readonly] {
    background-color: #343a40;
    color: #FFF;
    opacity: 1;
  }

  .nav-tabs .nav-link{
    color: white !important;
    background-color: #454d55 !important;
  }
  .text-danger {
        color: red;
        font-size: 15px;
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>


<!-- <div class="container">
  <div class="row justify-content-center">
      <div class="col-lg-6">
          <div class="form-container">
              <form id="myForm">
                  <div id="alertMessage"></div>
                  <div class="form-group row">
                      <label for="Dept_ID" class="col-sm-3 col-form-label">ID</label>
                      <div class="col-sm-9">
                          <input type="text" class="form-control" id="Dept_ID" placeholder="ID" readonly>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="Dept_Descr" class="col-sm-3 col-form-label">Name</label>
                      <div class="col-sm-9">
                          <input type="text" class="form-control" id="Dept_Descr" placeholder="Description">
                      </div>
                  </div>
                  <div class="text-center">
                      <button type="button" id="insertFormData" class="btn btn-dark mr-2">Create</button>
                      <button type="button" id="updateFormData" class="btn btn-dark mr-2 d-none">Update</button>
                      <button type="button" id="CancelFormData" class="btn btn-dark">Cancel</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div> -->


<!-- <div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="form-container">
        <form id="myForm">
          <div id="alertMessage"></div>
          <div class="row">
            <div class="col-sm-12">
              <h3 class="text-center mb-4 form-heading">Employee Information</h3>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="emp_name">Employee ID</label>
                <input type="number" class="form-control form-control-sm" id="Emp_ID" placeholder="Employee ID"
                  readonly>
              </div>
              <div class="form-group">
                <label for="emp_name">Employee Name</label>
                <input type="text" class="form-control form-control-sm" id="Emp_Name" placeholder="Employee Name">
              </div>
              <div class="form-group">
                <label for="dateofbirth">Date of Birth</label>
                <input type="date" class="form-control form-control-sm" id="DateOfBirth">
              </div>
              <div class="form-group">
                <label for="gender">Gender</label>
                <select class="form-control form-control-sm" id="Gender">
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Other">Other</option>
                </select>
              </div>
              <div class="form-group">
                <label for="marital_status">Marital Status</label>
                <select class="form-control form-control-sm" id="Marital_Status">
                  <option value="Single">Single</option>
                  <option value="Married">Married</option>
                  <option value="Divorced">Divorced</option>
                </select>
              </div>
              <div class="form-group">
                <label for="Personal_Cell_No">Personal Cell Number</label>
                <input type="tel" class="form-control form-control-sm" id="Personal_Cell_No"
                  placeholder="Personal Cell Number">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="emp_name">Employee Code</label>
                <input type="number" class="form-control form-control-sm" id="HR_Emp_ID" placeholder="Employee Code">
              </div>
              <div class="form-group">
                <label for="emp_name">Father Name</label>
                <input type="text" class="form-control form-control-sm" id="Father_Name" placeholder="Father Name">
              </div>
              <div class="form-group">
                <label for="cnic_no">CNIC Number</label>
                <input type="text" class="form-control form-control-sm" id="CNIC_No" placeholder="CNIC Number">
              </div>
              <div class="form-group">
                <label for="marital_status">Religion</label>  
                <select class="form-control form-control-sm" id="Religion">
                  <option value="Islam">Islam</option>
                  <option value="christian">christian</option>
                  <option value="Hindu">Hindu</option>
                </select>
              </div>
              <div class="form-group">
                <label for="CT_ID">City</label>
                <select class="form-control form-control-sm" id="CT_ID">
                </select>
              </div>
              <div class="form-group">
                <label for="personal_cell_no">Emergency Cell Number</label>
                <input type="tel" class="form-control form-control-sm" id="Emergency_Cell_No"
                  placeholder="Emergency Cell Number">
              </div>
            </div>
            <div class="col-sm-12 mt-4">
              <h3 class="text-center mb-4 form-heading">Company Information</h3>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="dateofbirth">Joining Date</label>
                <input type="date" class="form-control form-control-sm" id="Joining_Date">
              </div>
              <div class="form-group">
                <label for="marital_status">Joining Designation</label>
                <select class="form-control form-control-sm" id="Joining_Dsg_ID">
                </select>
              </div>
              <div class="form-group">
                <label for="personal_cell_no">Official Cell Number</label>
                <input type="tel" class="form-control form-control-sm" id="Official_Cell_No"
                  placeholder="Official Cell Number">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="marital_status">Company</label>
                <select class="form-control form-control-sm" id="Co_ID">
                  <option value="1">iTecknologi Tracking</option>
                  <option value="2">Avolox</option>
                  <option value="3">Carros</option>
                  <option value="4">Coder</option>
                </select>
              </div>
              <div class="form-group">
                <label for="marital_status">Joining Department</label>
                <select class="form-control form-control-sm" id="Joining_Dept_ID">
                </select>
              </div>
              <div class="form-group">
                <label for="marital_status">Employee Status</label>
                <select class="form-control form-control-sm" id="Emp_Status">
                  <option value="true">True</option>
                  <option value="false">False</option>
                </select>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button type="button" id="insertFormData" class="btn btn-dark mr-2">Create</button>
            <button type="button" id="updateFormData" class="btn btn-dark mr-2 d-none">Update</button>
            <button type="button" id="CancelFormData" class="btn btn-dark">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->


<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <div class="form-container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="employee-tab" data-toggle="tab" href="#employee" role="tab"
              aria-controls="employee" aria-selected="true">Employee Information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="company-tab" data-toggle="tab" href="#company" role="tab" aria-controls="company"
              aria-selected="false">Company Information</a>
          </li>
        </ul>
        <div id="alertMessage"></div>
        <div class="tab-content" id="myTabContent">
          <!-- Employee Information Tab -->
          <div class="tab-pane fade show active" id="employee" role="tabpanel" aria-labelledby="employee-tab">
            <form id="employeeForm" enctype="multipart/form-data">
              <div class="row">
                <!-- <div class="col-sm-3">
                  <label for="profileImage" class="uploadButton">
                    <input type="file" id="profileImage" name="profileImage" accept="image/*">
                      <img id="previewImage"
                      src="{% get_media_prefix %}profile/avatar.png"
                      alt=".">
                      
                    <span>Upload Employee Profile Image</span>
                  </label>
                </div> -->
                <div class="col-sm-3">
                </div>
                <div class="col-sm-6">
                  <h5 class="text-center mt-4  form-heading">Employee Information</h5>
                </div>
                <div class="col-sm-3">
                </div>
              </div>
              <div class="row">
                  <div class="col-sm-2">
                    <label for="Emp_ID" class="col-form-label">Emp ID : </span></label>
                  </div>
                  <div class="col-sm-2">
                      <input type="number" class="form-control form-control-sm" id="Emp_ID" placeholder="Emp ID" readonly>
                  </div>
                  <div class="col-sm-4">
                  </div>
                  <div class="col-sm-2">
                    <label for="HR_Emp_ID" class="col-form-label">HR Emp ID : <span class="text-danger"> *</span></label>
                  </div>
                  <div class="col-sm-2">
                    <input type="number" class="form-control form-control-sm" id="HR_Emp_ID" placeholder="HR Emp ID">
                  </div>

              </div>
            <div class="row">
              <div class="col-sm-2">
                <label for="Emp_Name" class="col-form-label">Emp Name : <span class="text-danger"> *</span></label>
              </div>
              <div class="col-sm-4">
                <input type="text" class="form-control form-control-sm" id="Emp_Name" placeholder="Employee Name">
              </div>

              <div class="col-sm-2">
                <label for="Emp_Name" class="col-form-label">Father's Name : <span class="text-danger"> *</span></label>
              </div>
              <div class="col-sm-4">
                <input type="text" class="form-control form-control-sm" id="Father_Name" placeholder="Father's Name">
              </div>              
            </div>

            <div class="row">
              <div class="col-sm-2">
                <label for="Email" class="col-form-label">Email : <span class="text-danger"> *</span></label>
              </div>
              <div class="col-sm-4">
                <input type="text" class="form-control form-control-sm" id="Email" placeholder="Email Address">
              </div>

              <div class="col-sm-3">
                <label for="DateOfBirth" class="col-form-label">Date Of Birth : <span class="text-danger"> *</span></label>
              </div>
              <div class="col-sm-3">
                <input type="date" class="form-control form-control-sm" id="DateOfBirth" placeholder="Date Of Birth">
              </div>              
            </div>

            <div class="row">
              <div class="col-sm-2">
                <label for="Gender" class="col-form-label">Gender : <span class="text-danger"> *</span></label>
              </div>
              <div class="col-sm-2">
                <select class="form-control form-control-sm" id="Gender">
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Other">Other</option>
                </select>
              </div>

              <div class="col-sm-2">
                <label for="Marital_Status" class="col-form-label">Marital Status : <span class="text-danger"> *</span></label>
              </div>
              <div class="col-sm-2">
                <select class="form-control form-control-sm" id="Marital_Status">
                  <option value="Single">Single</option>
                  <option value="Married">Married</option>
                  <option value="Divorced">Divorced</option>
                  <option value="Widow">Widow</option>
                  <option value="Others">Others</option>
                </select>
              </div>      
              <div class="col-sm-2">
                <label for="Religion" class="col-form-label">Religion : <span class="text-danger"> *</span></label>
              </div>
              <div class="col-sm-2">
                <select class="form-control form-control-sm" id="Religion">
                  <option value="Islam">Islam</option>
                  <option value="Christian">Christian</option>
                  <option value="Hindu">Hindu</option>
                  <option value="Others">Others</option>
                </select>
              </div>                        
            </div>
 
              <div class="row">
                <div class="col-sm-2">
                  <label for="CNIC_No" class="col-form-label">CNIC No : <span class="text-danger"> *</span></label>
                </div>
                <div class="col-sm-2">
                  <input type="text" class="form-control form-control-sm" id="CNIC_No" placeholder="CNIC No">
                </div>
                <div class="col-sm-2">
                  <label for="CNIC_Issue_Date" class="col-form-label">Issue Date : <span class="text-danger"> *</span></label>
                </div>
                <div class="col-sm-2">
                  <input type="date" class="form-control form-control-sm" id="CNIC_Issue_Date" placeholder="CNIC Issue Date">
                </div>
                <div class="col-sm-2">
                  <label for="CNIC_Exp_Date" class="col-form-label">Exp_Date : <span class="text-danger"> *</span></label>
                </div>
                <div class="col-sm-2">
                  <input type="date" class="form-control form-control-sm" id="CNIC_Exp_Date" placeholder="CNIC Expire Date" />
                </div>                                
              </div>



              <div class="row">
                <div class="col-sm-2">
                  <label for="Emergency_Cell_No" class="col-form-label">Emergency Cell # : <span class="text-danger"> *</span></label>
                </div>
                <div class="col-sm-2">
                  <input type="text" class="form-control form-control-sm" id="Emergency_Cell_No" placeholder="Emergency Cell No">
                </div>   
                <div class="col-sm-2">
                  <label for="Personal_Cell_No" class="col-form-label">Personal Cell # : <span class="text-danger"> *</span></label>
                </div>
                <div class="col-sm-2">
                  <input type="text" class="form-control form-control-sm" id="Personal_Cell_No" placeholder="Personal Cell No">
                </div>        
              </div>
 
              <div class="row">
                <div class="col-sm-2">                  
                  <label for="Address" class="col-form-label">Home Address</label>
                </div>
                <div class="col-sm-10"> 
                    <textarea type="text" class="form-control form-control-sm" id="Address" placeholder="Home Address"></textarea>
                </div>

              </div>
            </form>
          </div>


          <!-- Company Information Tab -->
          <div class="tab-pane fade" id="company" role="tabpanel" aria-labelledby="company-tab">
            <form id="companyForm" enctype="multipart/form-data">
              <div class="row">
                <div class="col-sm-12">
                  <h5 class="text-center mt-4 mb-4 form-heading">Company Information</h5>
                </div>
              </div>



 
              <div class="row">
                <div class="col-sm-2">
                  <label for="Joining_Date" class="col-form-label">Joining Date : <span class="text-danger"> *</span></label>
                </div>
                <div class="col-sm-2">
                  <input type="date" class="form-control form-control-sm" id="Joining_Date" placeholder="Joining Date" />
                </div>                               
                <div class="col-sm-2">
                  <label for="Co_ID" class="col-form-label">Company :  <span class="text-danger"> *</span></label>
                </div>
                <div class="col-sm-6">
                  <select class="form-control form-control-sm" id="Co_ID">
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-2">
                  <label for="Joining_Dept_ID" class="col-form-label">Joining Dept : <span class="text-danger"> *</span></label>
                </div>
                <div class="col-sm-4">
                  <select class="form-control form-control-sm" id="Joining_Dept_ID">
                  </select>
                </div>
                <div class="col-sm-2">
                  <label for="Joining_Dsg_ID" class="col-form-label">Joining Desig : <span class="text-danger"> *</span></label>
                </div>
                <div class="col-sm-4">
                  <select class="form-control form-control-sm" id="Joining_Dsg_ID">
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-2">
                  <label for="Grade_ID" class="col-form-label">Grade :  <span class="text-danger"> *</span></label>
                </div>
                <div class="col-sm-2">
                  <select class="form-control form-control-sm" id="Grade_ID">
                  </select>
                </div>                
                <div class="col-sm-2">
                  </div>
                <div class="col-sm-2">
                  <label for="Official_Cell_No" class="col-form-label">Off Cell # :</label>
                </div>

                <div class="col-sm-3">
                    <input type="tel" class="form-control form-control-sm" id="Official_Cell_No"
                    placeholder="Official Cell Number">
                </div>
                
              </div>

              <div class="row">
                <div class="col-sm-2">
                  <label for="CT_ID" class="col-form-label">City : <span class="text-danger"> *</span></label>
                </div>
                <div class="col-sm-2">
                  <select class="form-control form-control-sm" id="CT_ID">
                  </select>
                </div>
                <div class="col-sm-2">                  
                </div>
                <div class="col-sm-2">
                  <label for="REG_ID" class="col-form-label">Region : <span class="text-danger"> *</span></label>
                </div>
                <div class="col-sm-2">
                  <select class="form-control form-control-sm" id="REG_ID"> </select>
                </div>
              </div>



              <div class="row">
                <div class="col-sm-2">
                  <label for="Confirmation_Date" class="col-form-label">Confirmation Date :  <span class="text-danger"> *</span></label>
                </div>

                <div class="col-sm-3">
                  <input type="date" class="form-control form-control-sm" id="Confirmation_Date">
                </div>
                <div class="col-sm-1">
                </div>
                <div class="col-sm-2">
                  <label for="Emp_Status" class="col-form-label">Employee Status <span class="text-danger"> *</span></label>
                </div>

                <div class="col-sm-3">  
                  <select class="form-control form-control-sm" id="Emp_Status">
                    <option value="true">Active</option>
                    <option value="false">In-Active</option>
                  </select>
                </div>

                <div class="col-sm-4">
                </div>
              
              </div>
             
            </form>
          </div>
        </div>
        <div class="text-center mt-4">
          <button type="button" id="insertFormData" class="btn btn-dark mr-2">Create</button>
          <button type="button" id="updateFormData" class="btn btn-dark mr-2 d-none">Update</button>
          <button type="button" id="CancelFormData" class="btn btn-dark">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container mt-3">
  <table id="GridID" class="table table-dark table-hover table-sm table-bordered" style="font-size: 0.8rem;">
    <thead class="" style="background-color: black;">
      <tr>
        <th style="width: 7%;">S. No</th>
        <th style="width: 10%;">Employee ID</th>
        <th style="width: 15%;">HR Employee ID</th>
        <th style="width: 35%;">Employee Name</th>
        <th style="width: 15%;">Date of Birth</th>
        <th style="width: 20%;">Joining Date</th>
        <th style="width: 7%;">Action</th>
      </tr>
    </thead>
    <tbody id="InserRowID">
    </tbody>
  </table>
</div>

<!-- <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script> -->
<script src="{% static 'js/employee.js' %}"></script>


{% endblock %}