{% extends 'dashboard.html' %}
{% load static %}

{% block title %} Payroll Elemenet {% endblock %}
{% block pagetitle %} Payroll Elemenet {% endblock %} 

{% block content %}

<link rel="stylesheet" href="{% static 'css/payrollelement.css' %}">

<style>
    .form-control[readonly] {
        background-color: #343a40;
        color: #FFF;
        opacity: 1;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="form-container">
                <form id="myForm">
                    <div id="alertMessage"></div>
                    <div class="form-group row align-items-center">
                        <label for="id" class="col-sm-3 col-form-label col-form-label-sm">ID</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" id="Element_ID" placeholder="ID"
                                readonly>
                        </div>
                    </div>
                    <div class="form-group row align-items-center">
                        <label for="name" class="col-sm-3 col-form-label col-form-label-sm">Element Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" id="Element_Name"
                                placeholder="Elemenet Name">
                        </div>
                    </div>
                    <div class="form-group row align-items-center">
                        <label for="name" class="col-sm-3 col-form-label col-form-label-sm">Element Type</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" id="Element_Type"
                                placeholder="Elemenet Type">
                        </div>
                    </div>
                    <div class="form-group row align-items-center">
                        <label for="name" class="col-sm-3 col-form-label col-form-label-sm">Element Category</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" id="Element_Category"
                                placeholder="Elemenet Category">
                        </div>
                    </div>
                    <div class="form-group row align-items-center">
                        <label for="name" class="col-sm-3 col-form-label col-form-label-sm">Calculation Type</label>
                        <div class="col-sm-9">
                            <select type="text" class="form-control form-control-sm" id="Cal_Type">
                                <option value="AMOUNT">Amount</option>
                                <option value="FUEL_CAL">Fuel Calculation</option>
                                <option value="OT_CAL">Overtime Calculation</option>
                            </select>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="button" id="insertFormData" class="btn btn-dark mr-2">Create</button>
                        <button type="button" id="updateFormData" class="btn btn-dark mr-2 d-none">Update</button>
                        <button type="button" id="CancelFormData" class="btn btn-dark">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="container mt-3">
    <table id="GridID" class="table table-dark table-hover table-sm table-bordered" style="font-size: 0.8rem;">
        <thead class="" style="background-color: black;">
            <tr>
                <th style="width: 5%;">S. No</th>
                <th style="width: 10%;">Element ID</th>
                <th style="width: 35%;">Element Name</th>
                <th style="width: 25%;">Element Type</th>
                <th style="width: 25%;">Element Category</th>
                <th style="width: 20%;">Cal Type</th>
                <th style="width: 7%;">Action</th>
            </tr>
        </thead>
        <tbody id="InserRowID">
        </tbody>
    </table>
</div>

<script src="{% static 'js/payrollelement.js' %}"></script>

{% endblock %}